*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-container{
  background-color: lightgray;
  width: 100vw;
  height: 650px;
  position:relative;
}

.nav-container{
  display:flex;
  justify-content: space-around;
  margin-left: -20px;
  padding-top: 20px;
  width: 60%;
}

.logo{
  width:100px;
}

.logo img{
  width:100px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  margin-left: -50px;
}

.home-info{
  padding-top: 15%;
  padding-left: 17%;
}

.home-description{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.home-media{
  display:flex;
  justify-content: space-around;
  width: 100px;
}

.home-media img{
  width:20px;
}

.home-image-container{
  position:absolute;
  top:80px;
  right:12%;
  background-color: yellow;
  width:400px;
  height:630px;
  border-radius: 20px;
}

.home-image-container img{
  width:600px;
  margin-left: -100px;
  margin-top: -350px;
}

.home-nav-button{
  position: absolute;
  top:22px;
  right: 10%;
}

.home-nav-button button{
  background-color:teal;
  width:100px;
  height: 30px;
  border: none;
  padding: 10px 20px;
  border-radius:15px;
}